@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
}

@layer components {
  .app {
    @apply relative w-full h-screen overflow-hidden;
  }

  .home {
    @apply w-fit h-full flex flex-col justify-start items-start pl-20 pt-10 max-xl:pl-8 max-xl:pt-6;
  }

  .home-content {
    @apply flex flex-col flex-1 justify-center gap-8;
  }

  .head-text {
    @apply text-7xl font-bold text-black max-xl:text-5xl;
  }

  .tab-btn {
    @apply w-14 h-14 flex justify-center items-center cursor-pointer select-none;
  }

  .editortabs-container {
    @apply absolute z-10 top-1/2 -translate-y-1/2 right-full flex flex-col gap-4 border-[#ccc] border ml-2 bg-[#f5f5f5] rounded-lg px-2 py-4;
  }

  .filtertabs-container {
    @apply absolute z-10 top-1/2 -translate-y-1/2 left-full flex flex-col gap-4 border-[#ccc] border ml-2 bg-[#f5f5f5] rounded-lg px-2 py-4;
  }

  .filepicker-container {
    @apply absolute left-full ml-3 bg-[#f5f5f5] p-3 w-[195px] h-[220px] flex flex-col rounded-md;
  }

  .filepicker-label {
    @apply border border-gray-300 py-1.5 px-2 rounded-md shadow-sm text-xs text-gray-700 focus:outline-none focus:ring-1 focus:ring-blue-500 focus:border-blue-500 cursor-pointer w-fit;
  }

  .aipicker-container {
    @apply absolute left-full ml-3 bg-[#f5f5f5] p-3 w-[195px] h-[220px] flex flex-col rounded-md;
  }

  .aipicker-textarea {
    @apply w-full bg-transparent text-sm border border-gray-300 p-2 outline-none flex-1;
  }

  .glassmorphism {
    @apply rounded-xl border border-gray-200 bg-white/20 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur p-4;
  }
}